@font-face {
  font-family: LibreBaskerville;
  src: url('../../../font/librebaskerville/LibreBaskerville-Regular.ttf');
}

@font-face {
  font-family: Montserrat-SemiBold;
  src: url('../../../font/Montserrat/Montserrat-SemiBold.ttf');
}

@font-face {
  font-family: Montserrat-Light;
  src: url('../../../font/Montserrat/Montserrat-Light.ttf');
}
@font-face {
  font-family: Montserrat-Bold;
  src: url('../../../font/Montserrat/Montserrat-Bold.ttf');
}

body,
ul,
li {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

body {
  background-color: #001c31;
}

svg {
  path {
    fill: inherit;
  }
}
