$w:19px;
$h:19px;
$cw:10px;
$ch:10px;
$l:1px;
$bot:-8px;

@mixin circle-common {
  width: $w;
  height: $h;
  border-radius: 50%;
  border-width: 1px;
  border-style: solid;
  border-color: #20bdff #a5fecb #20bdff #1a29ff;
  background: transparent;
  position: absolute;
  bottom: $bot;
  z-index: 1;
  transform: scale(0, 0);
}

@mixin circle-inside {
  width: $cw;
  height: $ch;
  border-radius: 50%;
  background: linear-gradient(to right, #1a29ff, #20bdff, #a5fecb);
  position: relative;
  top: 4px;
  left: 4px;
  transform: scale(0, 0);
}

@mixin line {
  height: $l;
  position: absolute;
}

.Progress-box {
  // padding-top: 50px;
  // padding-bottom: 50px;
  // background: #001c31;

  // .bg {
  //   background: #001c31;
  //   position: absolute;
  //   bottom: 0px;
  //   left: 0px;
  //   width: 100%;
  //   height: 50px;
  // }
  position: relative;
  top:-532px;
  left:0px;
  .line1 {
    @include line;
    animation: stepOne 2s linear;
    animation-fill-mode: forwards;
  }

  .line2 {
    @include line;
    animation: stepTwo 2s linear 3s;
    animation-fill-mode: forwards;
  }

  .line3 {
    @include line;
    animation: stepThree 2s linear 6s;
    animation-fill-mode: forwards;
  }

  .line4 {
    @include line;
    animation: stepFour 2s linear 9s;
    animation-fill-mode: forwards;
  }

  .step1 {
    @include circle-common;
    left: 22.5%;
    box-shadow: 0 0 5px 0 #a5fecb;
    animation: showStepOne 1s infinite 2s;
    // animation-fill-mode: forwards;

    .circle {
      @include circle-inside;
      animation: showStepOne 1s linear 2s;
      animation-fill-mode: forwards;
    }
  }

  .step2 {
    @include circle-common;
    left: 40.8%;
    animation: showStepOne 1s linear 5s;
    animation-fill-mode: forwards;

    .circle {
      @include circle-inside;
      animation: showStepOne 1s linear 5s;
      animation-fill-mode: forwards;
    }
  }

  .step3 {
    @include circle-common;
    left: 67.2%;
    bottom: $bot;
    animation: showStepOne 1s linear 8s;
    animation-fill-mode: forwards;

    .circle {
      @include circle-inside;
      animation: showStepOne 1s linear 8s;
      animation-fill-mode: forwards;
    }
  }

  .s1TxtTop {
    position: absolute;
    font-size: 20px;
    color: #fff;
    left: 21%;
    bottom: 25px;
    animation: twink 1s 2s;
    animation-fill-mode: forwards;
    opacity: 0;
    text-shadow:1px 0 1px #fff, 0 1px 1px #fff, 
    0 -1px 1px #fff, -1px 0 1px #fff;
  }

  .s1TxtBot {
    position: absolute;
    color: #fff;
    animation: twink 1s linear 2s;
    animation-fill-mode: forwards;
    opacity: 0;
    left: 21%;
    bottom: -40px;
  }

  .s2TxtTop {
    position: absolute;
    color: #fff;
    left: 40%;
    bottom: 25px;
    animation: twink 1s linear 5s;
    animation-fill-mode: forwards;
    opacity: 0;
    font-family: Montserrat;
  }

  .s3TxtTop {
    position: absolute;
    color: #fff;
    left: 66%;
    bottom: 25px;
    animation: twink 1s linear 8s;
    animation-fill-mode: forwards;
    opacity: 0;
    font-family: Montserrat;
  }
}

/*------第一条线动画效果-----*/
@keyframes stepOne {
  0% {
    background: #1a29ff;
    left: 0px;
    width: 0px;
    bottom: 0px;
  }

  50% {
    background: linear-gradient(to right, #1a29ff, #20bdff);
    left: 0px;
    width: 15%;
    bottom: 0px;
  }

  100% {
    background: linear-gradient(to right, #1a29ff, #20bdff, #a5fecb);
    left: 0px;
    width: 23%;
    bottom: 0px;
  }
}

/*------第二条线动画效果-----*/
@keyframes stepTwo {
  0% {
    background: #fff;
    left: 23%;
    width: 0px;
    bottom: 0px;
  }

  100% {
    background: #fff;
    left: 23%;
    width: 18%;
    bottom: 0px;
  }
}

/*-----第三条线动画效果---*/
@keyframes stepThree {
  0% {
    background: #fff;
    left: 41.5%;
    width: 0px;
    bottom: 0px;
  }

  100% {
    background: #fff;
    left: 41.5%;
    width: 26%;
    bottom: 0px;
  }
}

/*----第四条线的动画效果---*/
@keyframes stepFour {
  0% {
    background: #fff;
    left: 68%;
    width: 0px;
    bottom: 0px;
  }

  100% {
    background: #fff;
    left: 68%;
    width: 32%;
    bottom: 0px;
  }
}

/*----节点出现效果----*/
@keyframes showStepOne {
  0% {
    transform: scale(0, 0);
  }

  40% {
    transform: scale(0.4, 0.4);
  }

  80% {
    transform: scale(0.8, 0.8);
  }

  100% {
    transform: scale(1, 1);
  }
}

/*----文字渐显效果---*/
@keyframes twink {
  0% {
    opacity: 0.2;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

/*-----文字闪烁效果---*/

// @keyframes flash {
//   0% {
//     opacity: 0;
//   }

//   50% {
//     opacity: 1;
//     color: #ff0000;
//     font-size: 24px;
//   }

//   100% {
//     opacity: 0;
//   }
// }
