$w:20px;
$h:20px;
$cw:10px;
$ch:10px;
$l:1px;
$bot:-9px;

@mixin circle-common {
  position: absolute;
  bottom: $bot;
  width: $w;
  height: $h;
  background: url('./assets/circle.png') no-repeat;
  background-size: 100% 100%;
  z-index: 99;
}

@mixin circle-inside {
  position: relative;
  top: 4px;
  left: 4px;
  width: $cw;
  height: $ch;
  border-radius: 50%;
  background: linear-gradient(to right, #1a29ff, #20bdff, #a5fecb);
  transform: scale(0, 0);
}

@mixin line {
  position: absolute;
  height: $l;
}

.Progress-box {
  position: relative;
  top: -460px;
  left: 0;
  .line{
    animation: line 1s linear 0.7s;
    animation-fill-mode: forwards;
    @include line;
  }
  .line1 {
    animation: stepOne .5s linear 1.9s;
    animation-fill-mode: forwards;
    @include line;
    z-index:1;
  }
  .animation1{
    left: 22.5%;
    border-radius: 50%;
    box-shadow: 0 0 5px 0 #a5fecb;
    transform: scale(0, 0);
    @include circle-common;
    animation: showStepOne .2s linear 1.7s;  
  }
  .animation2 {
    left: 22.5%;
    border-radius: 50%;
    box-shadow: 0 0 5px 0 #a5fecb;
    transform: scale(1, 1);
    @include circle-common;
    animation: flash 1s infinite .5s;
  }
  .step2 {
    left: 40.8%;
    transform: scale(0, 0);
    animation: showStepOne .2s linear 1.7s;
    animation-fill-mode: forwards;
    @include circle-common;
  }

  .step3 {
    bottom: $bot;
    left: 67.2%;
    transform: scale(0, 0);
    animation: showStepOne .2s linear 1.7s;
    animation-fill-mode: forwards;
    @include circle-common;
  }

  .s1TxtTop {
    position: absolute;
    bottom: 25px;
    left: 21%;
    color: #fff;
    opacity: 0;
    font-size: 24px;
    animation: twink .2s 1.7s;
    animation-fill-mode: forwards;
    // text-shadow: 0px 0px 4px #fff;

    span {
        font-family: Montserrat;
    }
  }

  .s1TxtBot {
    position: absolute;
    bottom: -40px;
    left: 21%;
    color: #fff;
    opacity: 0;
    animation: twink .2s linear 1.7s;
    animation-fill-mode: forwards;
  }

  .s2TxtTop {
    position: absolute;
    bottom: 25px;
    left: 40%;
    color: #fff;
    opacity: 0;
    font-family: Montserrat;
    animation: twink .2s linear 1.7s;
    animation-fill-mode: forwards;
  }

  .s3TxtTop {
    position: absolute;
    bottom: 25px;
    left: 66%;
    color: #fff;
    opacity: 0;
    font-family: Montserrat;
    animation: twink .2s linear 1.7s;
    animation-fill-mode: forwards;
  }

  @media (max-width:750px) {
    top: -150px;
  }
}

/*------第一条线动画效果-----*/
@keyframes stepOne {
  0% {
    bottom: 0;
    left: 0;
    width: 0;
    background: #1a29ff;
  }

  50% {
    bottom: 0;
    left: 0;
    width: 15%;
    background: linear-gradient(to right, #1a29ff, #20bdff);
  }

  100% {
    bottom: 0;
    left: 0;
    width: 23%;
    background: linear-gradient(to right, #1a29ff, #20bdff, #a5fecb);
  }
}

/*------主线动画效果-----*/
@keyframes line {
  0% {
    bottom: 0;
    left: 0;
    width: 0;
    background: #fff;
  }

  100% {
    bottom: 0;
    left: 0;
    width: 100%;
    background: #fff;
  }
}
/*----节点出现效果----*/
@keyframes showStepOne {
  0% {
    transform: scale(0, 0);
  }

  40% {
    transform: scale(.4, .4);
  }

  80% {
    transform: scale(.8, .8);
  }

  100% {
    transform: scale(1, 1);
  }
}

/*----文字渐显效果---*/
@keyframes twink {
  0% {
    opacity: .2;
  }

  50% {
    opacity: .5;
  }

  100% {
    opacity: 1;
  }
}

/*-----文字闪烁效果---*/
// @keyframes flash {
//   0% {
//     opacity: 0;
//   }
//   50% {
//     opacity: 1;
//     color: #ff0000;
//     font-size: 24px;
//   }
//   100% {
//     opacity: 0;
//   }
// }
@keyframes flash {
  0% {
    box-shadow: 0 0 5px 0 #a5fecb;
  }

  25% {
    box-shadow: 0 0 10px 0 #a5fecb;
  }

  50% {
    box-shadow: 0 0 15px 0 #a5fecb;
  }

  75% {
    box-shadow: 0 0 10px 0 #a5fecb;
  }

  100% {
    box-shadow: 0 0 5px 0 #a5fecb;
  }
}
