.root {
  position: absolute;
  width: 100%;
  z-index: 10;

  .container {
    max-width: 1170px;
    height: 100%;
    padding:0 10px;
    margin: 0 auto;
    overflow: hidden;

    .head-logo {
      display: block;
      width: 235px;
      height: 66px;
      margin: 59px 0 2px 0;
      object-fit: contain;

      img {
        width:100%;
        height: auto;
      }

      @media (max-width:750px) {
        width:120px;
        height:34px;
        margin:25px 0 2px 0;
      }
    }

    .head-Public-Chain-Ecology {
      height: 44px;
      color: #fff;
      font-family: LibreBaskerville;
      line-height: 44px;
      letter-spacing: .8px;

      @media (max-width:750px) {
        font-size:11px;
      }
    }

    @media (max-width: 750px) {
      width: 100%;
      padding:0 25px;
    }
  }
}

.head-nav {
  float: right;
  padding: 0;
  margin: 20px 30px 0 0;
  font-size: 14px;

  > li {
    display: inline-block;
    list-style-type: none;
    margin-left: 30px;

    &.head-padding {
      color: red;
    }

    &.head-user {
      margin: 0 10px;
    }
  }

  a {
    color: #c7cce6;
    text-decoration: none;
    transition: all .2s ease-in-out;

    &:hover {
      color: #7a98f7;
    }
  }
}
