.root {
  position: relative;
  background: url(./assets/city_dark.png) no-repeat center center;

  @media screen and (max-width: 750px) {
    background-image: none;
  }
}

.container {
  max-width: 1190px;
  height: 100%;
  padding:171px 10px 0 10px;
  margin: 0 auto;

  .bg-font {
    width: 714px;
    height: 280px;
    margin: 113px 0 0 0;
    color: #fff;
    opacity: .08;
    font-weight:bold;
    font-size: 150px;
    font-family: Montserrat-Bold;
    line-height: .93;
    letter-spacing: 8.3px;
    pointer-events: none;

    @media (max-width:750px) {
      width:305px;
      height: 128px;
      margin:87px 0 0 0;
      font-size:64px;
    }
  }

  .Latest-Testnet-Trial {
    width: 670px;
    height: 104px;
    margin-top: -68px;
    color: #fff;
    font-size: 48px;
    font-family: LibreBaskerville;
    line-height: 1;
    letter-spacing: 1.3px;
    overflow: hidden;
    .text-style-1 {
      color: #fff;
      font-weight: 500;
      font-size: 48px;
      font-family: LibreBaskerville;
      line-height: 2;
      letter-spacing: 1.3px;
      pointer-events: none;
      span{
        display: inline-block;
      }
      @media (max-width:750px) {
        font-size:36px;
        line-height:1.3;
      }
    }

    @media (max-width:750px) {
      width:325px;
      margin-top:-40px;
    }
  }

  .No-of-Shards-256-N {
    max-width: 0px;
    // height: 168px;
    margin: 70px 0 0 0;
    font-size: 14px;
    color: #fff;
    font-family: Montserrat-Light;
    line-height: 2;
    letter-spacing: normal;
    overflow: hidden;
    white-space: nowrap;
    animation: textAnimate 0.5s linear 2.7s;
    animation-fill-mode: forwards;
    .text1 {
        margin-top: 32px;
    }

    @media (max-width:750px) {
      display:none;
    }
  }

  .Rectangle {
    position: relative;
    max-width: 490px;
    height: 60px;
    border: solid 2px transparent;
    border-radius: 30px;
    margin: 52px 0 150px 0;
    color: #fff;
    background-image: linear-gradient(#fff, #fff), linear-gradient(to right, #a5fecb, #20bdff 42%, #1a29ff);
    background-origin: border-box;
    background-clip: content-box, border-box;
    animation: floatUp .5s linear 2.7s;
    animation-fill-mode: forwards;
    opacity: 0;
    .Rectangle-3 {
      width: 178px;
      height: 48px;
      border: none;
      border-radius: 24px;
      outline: none;
      background-image: linear-gradient(to bottom, #3853ff, #1a29ff);
      font-family: Montserrat-SemiBold;
      letter-spacing: 1.1px;
      font-weight:500;
      font-size:16px;
    }

    input {
      width: 100%;
      height: 100%;
      padding-right: 186px;
      padding-left: 20px;
      border-width: 0;
      border-radius: 30px;
      outline: none;
      background: #001c31;
      font-family: Montserrat-Light;
    }

    button {
      position: absolute;
      top: 3.5px;
      right: 6px;
    }

    @media (max-width:750px) {
      display:none;
    }
  }

  .mobile-Rectangle {
    position: relative;
    display: none;
    width:100%;
    height:55px;
    border: solid 2px transparent;
    border-radius: 30px;
    margin:120px 0 58px 0;
    background-image: linear-gradient(#fff, #fff), linear-gradient(to right, #a5fecb, #20bdff 42%, #1a29ff);
    background-origin: border-box;
    background-clip: content-box, border-box;
    color:#fff;
    animation: floatUp .5s linear 2.7s;
    animation-fill-mode: forwards;
    opacity: 0;
    input {
      width:100%;
      height:100%;
      border-width:0;
      border-radius: 30px;
      outline: none;
      background: #001c31;
      padding-left:18px;
      font-family: Montserrat Light;
      color:#fff;
    }

    .btn {
      position: absolute;
      right:3px;
      bottom:3px;
      width:45px;
      height:45px;
      border-radius: 50%;
      background:#1a29ff;
      .arrow{
        width:40px;
        height:40px;
        display: inline-block;
        background:url('./assets/arrow.png') no-repeat center center;
        background-size:100% 100%;
        margin:4px 0px 0px 6px;
      }
    }

    @media (max-width:750px) {
      display:block;
    }
  }

  @media (max-width:750px) {
    width:100%;
    padding:105px 25px 0 25px;
  }
}

@keyframes floatUp {
  0%{
    opacity: 0;
    bottom: -15px;
  }
  25%{
    opacity: 0.2;
    bottom: -10px;
  }
  50%{
    opacity: 0.5;
    bottom:-5px;
  }
  100%{
    opacity: 1;
    bottom:0px;
  }
}
.aniSpan {
  // animation: spanAnimate 0.2s ease 2.5s 1;
  // /*调用已定义好的动画lefteaseinAnimate，全程运行时间1S，进入的速度曲线为ease，只播放一次*/

  // opacity: 0;
  // /*规定动画的最后状态为结束状态*/
  // animation-fill-mode: forwards;
  transform: translateY(120%);
  animation: spanAnimate 0.4s ease-out 0.25s;
  animation-fill-mode: forwards;

}
@keyframes spanAnimate {
  0%{
    transform: translateY(120%);
  }
  80%{
    transform: translateY(-20%);
  }
  100%{
    transform: translateY(0);
  }

  /*在100%时设置文字在想X轴0px位移处，也就是原始布局的位置，透明度为1，也就是文字可以看见了*/
}


//文字特效

/*定义一个名字为lefteaseinAnimate动画，实现从页面的左边淡入页面效果*/
@keyframes lefteaseinAnimate {
  0% {
    opacity: 0;
    transform: translateX(-2000px);
  }

  /*在0%时设置文字在想X轴-2000px位移处（左边），透明度为0，也就是看不见文字*/
  100% {
    opacity: 1;
    transform: translateX(0);
  }

  /*在100%时设置文字在想X轴0px位移处，也就是原始布局的位置，透明度为1，也就是文字可以看见了*/
}
// .company_name {
//   opacity: 0;
//   /*调用已定义好的动画lefteaseinAnimate，全程运行时间1S，进入的速度曲线为ease，只播放一次*/
//   animation: lefteaseinAnimate 1s ease 2.7s 1;
//   /*规定动画的最后状态为结束状态*/
//   animation-fill-mode: forwards;
// }
 
@keyframes textAnimate {
  0%{
    max-width: 0px;
  }
  100%{
    // white-space: wrap;
    max-width: 700px;
  }
}


