.root {
  width: 100%;
  height: 170px;
  background-color: #0d273b;

  .container {
    max-width: 1170px;
    margin: 0 auto;
    overflow: hidden;

    .bottom-left {
      float: left;
      margin-top: 70px;

      li {
        height: 20px;
        color: #fff;
        font-style: normal;
        font-weight: normal;
        font-stretch: normal;
        font-size: 12px;
        font-family: Montserrat;
        line-height: 2;
        letter-spacing: normal;
      }
    }

    .bottom-right {
      float: right;
      height: 30px;
      margin-top: 70px;

      li {
        float: left;
        width: 30px;
        height: 30px;
        border-radius: 16px;
        margin-right: 17px;
        background-color: white;

        &:hover {
          background-color: blue;
          cursor: pointer;
        }

        img {
          width: 18px;
          height: 16px;
          margin-top: 6px;
          margin-left: 6px;
        }
      }
    }

    .Copyright-Echoin-T {
      width: 473px;
      height: 20px;
      margin-top: 40px;
      color: #fff;
      font-style: normal;
      font-weight: normal;
      font-stretch: normal;
      font-size: 12px;
      font-family: Montserrat;
      line-height: 2;
      letter-spacing: .6px;
    }
  }
}
